@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["ViewTitle"];
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>    
</div>

<div>
    <p>
        @Localizer["EmailConfirmedMessage"]
    </p>
</div>
