@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["ViewTitle"];
    ViewData["AppName"] = Localizer["AppName"];
}

<div class="jumbotron">
    <h1>@ViewData["AppName"]</h1>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <h1>@User.Identity.Name</h1>
        <h1>User Claims</h1>
        <dl>
            @foreach (var claim in User.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
    }

</div>



