@using JezekT.AspNetCore.IdentityServer4.WebApp.Models.HomeViewModels
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model ErrorViewModel
@{
    var error = Model?.Error?.Error;
}

<div class="error-page">
    <div class="page-header">
        <h1>@Localizer["ErrorTitle"]</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                @Localizer["ErrorMessage"]

                @if (error != null)
                {
                    <strong>
                        <em>
                            : @error
                        </em>
                    </strong>
                }
            </div>
        </div>
    </div>
</div>
