@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model JezekT.AspNetCore.IdentityServer4.WebApp.Models.AccountSettingsViewModels.ChangeEmailViewModel

@inject IViewLocalizer Localizer
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    var sharedLocalizer = StringLocalizerFactory.Create("Views.Shared.SharedResources", null);
    ViewData["Title"] = Localizer["ViewTitle"];
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>    
</div>

<form asp-controller="AccountSettings" asp-action="ChangeEmail" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewEmail" class="form-control" />
            <span asp-validation-for="NewEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">@sharedLocalizer["Save"]</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
