@using JezekT.AspNetCore.IdentityServer4.WebApp.Views.Shared
@using JezekT.AspNetCore.IdentityServer4.WebApp.Views.Users
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model JezekT.AspNetCore.IdentityServer4.WebApp.Models.UserViewModels.UserRoleViewModel

@inject IViewLocalizer Localizer
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    var sharedLocalizer = StringLocalizerFactory.Create(typeof(SharedResources));
    var stringLocalizer = StringLocalizerFactory.Create(typeof(UserResources));
    ViewData["Title"] = sharedLocalizer["DeleteTitle"];
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
    <h4>@stringLocalizer["UserRole"]</h4>
</div>

<div class="text-warning">
    <p>
        @sharedLocalizer["DeleteQuestion"]
    </p>
</div>

<br/>
<div>
    <form asp-action="DeleteRole">
        <input type="hidden" asp-for="UserId"/>
        <input type="hidden" asp-for="RoleId" />
        <div>
            <input type="submit" value="@sharedLocalizer["Delete"]" class="btn btn-default"/>
        </div>
    </form>
</div>
