@using JezekT.AspNetCore.IdentityServer4.WebApp.Views.IdentityClaims
@using JezekT.AspNetCore.IdentityServer4.WebApp.Views.Shared
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model JezekT.AspNetCore.IdentityServer4.WebApp.Models.IdentityClaimViewModels.IdentityClaimViewModel

@inject IViewLocalizer Localizer
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    var sharedLocalizer = StringLocalizerFactory.Create(typeof(SharedResources));
    var stringLocalizer = StringLocalizerFactory.Create(typeof(IdentityClaimResources));
    ViewData["Title"] = sharedLocalizer["EditTitle"];
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
    <h4>@stringLocalizer["EntityName"]</h4>
    <div asp-validation-summary="All" class="text-danger"></div>    
</div>


<form asp-action="Edit">
    <div class="form-horizontal">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdentityResourceId" />
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Type" class="form-control" placeholder="@stringLocalizer["TypePlaceholder"]" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" Value="@sharedLocalizer["Save"]" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
